name: 'Test: Main calls Pre-Deploy'

on:
  workflow_dispatch:

jobs:
  pre-deploy:
    uses: ./.github/workflows/pre-deploy.yml
    with:
      skip_static_analysis: false
      skip_unit_tests: true
      skip_coverage: true
      skip_prettier: true
      skip_eslint: true
      skip_typecheck: true
      skip_audit: true
      skip_snyk: true
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
