name: 'Test Call Workflow'

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Direct job works"

  call-pre:
    uses: ./.github/workflows/pre-deploy.yml
    with:
      skip_static_analysis: true
      skip_unit_tests: true
      skip_coverage: true
      skip_prettier: true
      skip_eslint: true
      skip_typecheck: true
      skip_audit: true
      skip_snyk: true
